body {
    margin: 0px;
    height: 100%;
}

#header{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0 10px;
    
    li {
        font: 13px Arial;
        float: right;
        line-height: 14px;
        padding: 23px 5px;
        
        a {
            text-decoration: none;
            color: rgba(0,0,0,0.87);
        
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

%align-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_container{
    @extend %align-center;
    padding-top: 100px;
    #ISlogo{
        margin-top: auto;
        height: 92px;
        width: 272px;
        background-image: url(../img/googlelogo.png);
        span{
            position: relative;
            font-family: "roboto-regular", arial, sans-serif;
            color: #4285f4;
            top: 76px;
            left: 215px;
        }
    }
}