body {
    margin: 0px;
    height: 100%;
}

html{
    height: 100%;
}

/* Header with links to other pages. */
#header{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0 10px;
    
    li {
        font: 13px Arial;
        float: right;
        line-height: 14px;
        padding: 23px 5px;
        
        a {
            text-decoration: none;
            color: rgba(0,0,0,0.87);
        
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

/* container with Google image */

%align-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img_container{
    @extend %align-center;
    height: calc(100% - 560px);
    min-height: 92px;
    max-height: 290px;
    img{
        margin-top: auto;
    }        
}

/* container with search */

$gsearchHeight: 44px;
$gsearchWidth: 582px;

#search_container{
    height: auto;
    max-height: 160px;
    padding: 20px;
    
    form{
        @extend %align-center;
        padding-top: 6px;

        .gsearch_div{
            height: $gsearchHeight;
            width: $gsearchWidth;
            border: 1px solid #DFE1E5;
            border-radius: 24px;
            
            
            &:hover{
                box-shadow: 1px 2px 5px #DFE1E5;
            }

            #inner_div{
                position: relative;
                width: auto;
                display: flex;
                flex: 1;
                height: 39px;
                padding: 5px 8px 0 14px;
                
                path{
                    fill: #9aa0a6;
                }

                #magnifier{
                    display: flex;
                    margin-top: -5px;
                    padding-right: 13px;
                    width: 20px;
                    float: left;
                }
                #gsearch{
                    border: none;
                    font-family: arial,sans-serif;
                    font-size: 16px;
                    color: #222;
                    font-weight: normal;
                    height: 34px;
                    width: auto;
                    padding: 0;
                    margin-top: -1px;
                    display: flex;
                    flex-grow: 1;
                }
                #clear{

                    width: 24px;
                    display: none/* flex*/;
                    margin-top: -5px;
                    padding: 0 8px;
                    float: left;
                }
            }
        }

        .btn_div{
            input{
                font-size: 14px;
                height: 36px;
                padding: 0 16px;
                margin: 11px 4px;
                border: 1px solid #f8f9fa;
                border-radius: 4px;
                font-family: arial, sans-serif;
                color: #3c4043;
                background-color: #f8f9fa;            
            }
            input:hover{
                border: 1px solid #dadce0;
                box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                cursor: pointer;
            }
        }
    }
}
