body {
    padding: 10px;
}

.listing_showcase{
    box-sizing: border-box;
    border: 2px black solid;
    border-radius: 20px;
    margin: 20px;
    padding: 10px
}

.listing_showcase:hover{
    box-shadow: 5px 5px 10px gray;
    background-color: #f3f3f3
}

.listing_showcase img{
    border-radius: 10%;
}

.listing_showcase img:hover{
    box-shadow: 2px 2px 5px rgb(219, 219, 219)
}