body {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    border: 1px lightgray solid;
    border-bottom: none;
    border-top: none;
}

body .page-title{
    text-align: center;
    margin: 10px 0px;
}

header{
    margin: 0;
    padding: 10px;
    background-color: rgb(85, 85, 85);
    color: white;
}

header a:link{
    color: white;
}

header a:hover{
    color: lightblue;
}

.listing_showcase{
    position: relative;
    box-sizing: border-box;
    overflow: hidden;

    border: 1px gray solid;
    border-radius: 20px;
    margin: 10px;
}

.listing_showcase:hover{
    box-shadow: 5px 5px 10px gray;
}

.listing_showcase .showcase_header{
    position: relative;
    height: 5em;
    padding: 0 0 10px 10px;
}

.listing_showcase .title{
    display: block;
    width: 60%;
    height: 100%;
    float: left;
    line-height: 100%;
    overflow: hidden;
}

.listing_showcase .title h3{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: .5em;
}

.listing_showcase .price{
    display: block;
    overflow: hidden;
    float: right;
    
    padding: 10px;
    width: 40%;
    
    border: 1px solid gray;
    border-bottom-left-radius: 20px;
    
    background-color: blue;
    color: white;
    
    text-align: center;
}

.listing_showcase .showcase_body{
    padding: 10px;
}

.listing_showcase img{
    display: block;
    border-radius: 10%;
    width: 70%;
    max-width: 300px;
    max-height: 300px;
    min-width: 150px;
    min-height: 150px;
    margin: 1em auto;
    clear: both;
}

.listing_showcase img:hover{
    box-shadow: 2px 2px 5px rgb(219, 219, 219)
}

.listing_showcase .blank_img{
    width: 100%;
    max-width: 150px;
}

.categories{
    list-style-type: none;
    padding: 10px;
}

.categories li{
    background: blue;
    text-align: center;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.categories li:hover{
    background-color: rgb(0, 0, 192);
    box-shadow: 2px 2px 4px grey;
}

.categories a:link{
    color: white;
    text-decoration: none;
}

.img-price{
    padding: 20px
}

.img-price img{
    display: block;
    height: 250px;
    width: auto;
    max-width: 100%;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.img-price .cur_bid{
    text-align: center;
    display: inline-block;
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    width: 250px;
    max-width: 100%;
    margin-bottom: 10px;
}
.img-price .cur_bid h3{
    margin: 0;
}

.img-price .cur_bid_title, .img-price .cur_bid_bidder{
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
}

.listing-page-body{
    padding: 0px 10%;
}

.listing-page-body .description{
    padding: 10px;
    border: 1px lightgrey solid;
    border-radius: 10px;
}
