<div class="listing_showcase" >
    
    <h3><a href="{% url 'listing' l.listing.id %}">{{ l.listing.title }}</a></h3>
    <p><b>Description:</b></p>
    <p>{{ l.listing.description }}</p>
    {% if l.cur_bid %}
    <p><b>Current price:</b> US$ {{ l.cur_bid }} </p>
    {% else %}
    <p>No bids yet</p>
    {% endif %}

    {% if l.listing.category %}
        <p><b>Category: </b> {{ l.listing.category }}</p>
    {% else %}
        <p><b>Category: </b> None </p>
    {% endif %}
    <img src={{l.listing.image_url}}>
</div>