<div>
    <h3><a href="{% url 'listing' l.id %}">{{ l.title }}</a></h3>
    <p><b>Description:</b></p>
    <p>{{ l.description }}</p>
    <p><b>Starting price:</b> US$ {{ l.minimum_bid }} </p>
    {% if l.current_bid %}
    <p><b>Current price:</b> US$ {{ l.current_bid }} </p>
    {% else %}
    <p>No bids yet</p>
    {% endif %}
    <p><b>Creator:</b> {{ l.creator }}</p>
    {% if l.category %}
        <p><b>Category: </b> {{ l.category }}</p>
    {% else %}
        <p><b>Category: </b> None </p>
    {% endif %}
</div>