{% load static %}

<div class="listing_showcase" >
    
    <div class="showcase_header">
        <div class="title">
            <h3><a href="{% url 'listing' l.listing.id %}">{{ l.listing.title }}</a></h3>
        </div>
        <div class="price">
            {% if l.cur_bid %}
            <h4>US$ {{ l.cur_bid }}</h4>
            {% else %}
            <h4>US$ --</h4>
            {% endif %}
        </div>
    </div>

    <div class="showcase_body">
        {% if l.listing.image_url  %}
        <img src={{l.listing.image_url}}>
        {% else %}
        <img src="{% static 'image/no_image.jpg' %}">
        {% endif %}
        
        <p><b>Description:</b></p>
        <p>{{ l.listing.description }}</p>
    
        {% if l.listing.category %}
            <p><b>Category: </b> {{ l.listing.category }}</p>
        {% else %}
            <p><b>Category: </b> None </p>
        {% endif %}
    </div>
</div>