{% extends 'auctions/layout.html' %}

{% block body %}
<h2 class="page-title">Listing: {{ listing.title }}</h1>
    {% if not listing.is_open %}
    <p>This listing is closed</p>
    {% endif %}
    
    <div class="row img-info">
        <div class="col-6">
            <img src={{listing.image_url}}>
        </div>
        <div class="col-6">
            <div class="info">
                <p><b>Creator:</b> {{ listing.creator }}</p>
                <p><b>Category:</b> {{ listing.category }}</p>
                <p><b>Starting Bid:</b> US$ {{ listing.minimum_bid|floatformat:2 }}</p>
                {% if user == listing.creator and listing.is_open %}
                <a href="{% url 'close' listing.id %}">[Close Listing]</a>
                {% endif %}
            </div>
        </div>
    </div>
    
    
    <div class="listing-page-body">
        <p class="description"><b>Description:</b> {{ listing.description|safe }} </p>
        <div class="row bid">
            <div class="col-8" style="text-align: center">
                <p class="cur_bid_title">Current bid:</p>
                <div class="cur_bid">
                    {% if current_bid %}
                    <h3>US$ {{current_bid.value|floatformat:2}}</h3>
                    {% else %}
                    <h3>US$ --</h3>
                    {% endif %}
                </div>
            </div>
            <div class="col-4" style="text-align: center">
                <p class="cur_bid_title">Bidder:</p>
                <div>
                    <p class="cur_bid_title">{{current_bid.user}}</p>
                </div>
            </div>
        </div>
        
        {% if user.is_authenticated and listing.is_open %}
            <p class="cur_bid_title">Place Bid</p>
            <form action="{% url 'listing' listing.id %}" method=POST>
                {% csrf_token %}
                {% if bid_error %}
                <p>Your bid should be greater than the current bid!</p>
                {% endif %}
                <input class="form-control bid-form" type="number" value="{{ min_bid }}" step="0.25" name="bid">
                <input class="bid-submit" type="submit" value="Bid!">
            </form>
            {% if listing in user.watchlist.all %}
            <p><a href="{% url 'toggle_watchlist' listing.id %}">[Remove from watchlist]</a></p>
            {% else %}
            <p><a href="{% url 'toggle_watchlist' listing.id %}">[Add to watchlist]</a></p>
            {% endif %}
            {% endif %}
            
            {% if not listing.is_open and current_bid.user == user %}
            <p>Parabéns, você é o vencedor!</p>
            {% endif %}
            
            <h3>Comment section</h3>
            {% for comment in comments %}
            <p><b>{{ comment.user }}:</b> {{ comment.text }}</p>
            {% endfor %}
            {% if user.is_authenticated and listing.is_open%}
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <textarea name='text' placeholder="Comment here..." required=""></textarea>
                <input type="submit" value="Submit">
            </form>
            {% endif %}
        </div>
        
        {% endblock %}