{% extends "auctions/layout.html" %}

{% block title %}
Create New Listing
{% endblock %}

{% block body %}
    <h2 class="page-title">Create new listing</h2>
    {% if error %}
    <div class="messages">
        <p class="error-msg"><b>The starting price should be a positive value!</b></p>
    </div>
    {% endif %}
    <form action="{% url 'new_listing' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="dark-button" type='submit' value="Submit">
    </form>
{% endblock %}